.video-container {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.custom-play-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
  z-index: 2;
  max-width: 120px;
  height: 120px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 0.3s ease;
  width:100%;
}
.play-icon {
  width:100%;
  max-width: 60px;
  height: 60px;
  pointer-events: none;
  display: flex;
  justify-content: center;
  align-items: baseline;
  margin-left: 12px;
}
.play-icon svg {
  max-width: 60px;
  height: 60px;
  width:100%:
}
.video-module iframe {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}
.video-frame-wrapper iframe {
    pointer-events: none; 
}
.video-frame-wrapper.active iframe {
    pointer-events: auto;
}

