@media (min-width: 992px) {
  .header-menu>.hs-menu-wrapper {
    display: flex !important;
  }
}

.header {
  box-shadow: 0px 8px 8px 0px #0e0e1e1a;
}

/* Header Size */
.header {
  height: 78px;
  transition: none !important;
}
/* /Header Size */

  .header-menu .hs-menu-wrapper > ul > li.has-mega-menu:hover .mega-menu,
  .header-menu .hs-menu-wrapper > ul > li.has-mega-menu:focus-within .mega-menu
  {
    height: initial !important;
    overflow: initial; !important;
    opacity: 1; !important;
    visibility: visible; !important;
  }

.mega-menu {
  width: 27rem;
  left: 50%;
  transform: translateX(-50%);
}

/* Make the LI's position relative to center the mega menu on it */
@media (min-width: 768px) {
  .header-menu .hs-menu-wrapper>ul>li.has-mega-menu {
    position: relative;
  }
}


/* Mobile Main Menu */
@media (min-width: 768px) and (max-width: 991px) {
  .header-menu.js-enabled .hs-menu-wrapper {
    position: absolute;
    left: 50%;
    top: 77px;
    background: white;
    transform: translateX(-50%);
    transition: top 0.5s ease;
    display: block;
    width: 40%;
    overflow: unset;
  }
  
  .header-menu .hs-menu-wrapper>ul>li a {
    font-size: .8rem;
    height: unset !important;
    padding: .2rem 0rem !important;
  }
  
  .header-menu .hs-menu-wrapper>ul>li .main-menu_menu {
    font-size: .8rem;
    padding: .5rem .8rem !important;
    height: unset !important;
  }
  
  .mega-menu_content a {
    padding: 0 !important;
  }
  
  .header-menu .hs-menu-wrapper>ul>li .main-menu_menu {
    font-size: .8rem;
    transition: .3s all ease-in-out;
    border-radius: 20rem;
    padding: .2rem .5rem !important;
    height: unset !important;
  }
  
  .header-menu .hs-menu-wrapper>ul li {
    color: var(--base);
    width: unset;
  }

  .header-menu .hs-menu-wrapper>ul>li .main-menu_menu:hover {
    background-color:#f2f4f8;
  }
  
  .header-menu .hs-menu-wrapper>ul {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .header-02 .main-wrapper-middle .main-wrapper_main-ul {
    padding: .3rem 0 !important;
    margin-top: -1rem;
  }
  
  .child-trigger {
    display: none !important;
  }
  
  .mega-menu {
    display: block !important;
    left: 50%;
    transform: translateX(-50%);
  }
  
  .main-wrapper-middle:before {
    clip-path: path("M235 55 C49.13 50 109.87 0 -9 0 H200 V-72 Z") !important;
  }

  .main-wrapper-middle:after {
    clip-path: path("M-35 55 C150.87 50 90.13 0 209 0 H0 V-72 Z") !important;
  }
  
  .main-wrapper-middle {
    background: transparent !important;
  }
}
/* Mobile Main Menu */

@media (min-width: 768px) {
  .container {
    max-width: unset;
    padding-left: 20px;
    padding-right: 20px;
  }
  
  .mobile-trigger {
    display: block !important;
  }

  .main-wrapper-middle {
    position: absolute;
    left: 50% !important;
    top: 77px;
    background: white;
    transform: translateX(-50%) !important;
    transition: top 0.5s ease;
    display: flex !important;
    width: 100%;
    justify-content: center;
    background: transparent;
  }

  /*  Make the logo container absolute to add animation  */
  .header-logo_container {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: .5s all ease-in-out;
  }

  .header-02 .main-menu_item .main-menu_menu {
    display: block;
    text-decoration: none;
  }
}

.header-02 .main-menu_item .main-menu_menu {
  padding: .25rem 1rem;
}

/* Header Logo Container */
/* @media(max-width: 991px) { */
@media (max-width: 767px) {
  .header-logo_container {
    order: -1;
  }
}

/* /Header Logo Container */
.hamburger {
  padding: 0;
}

.hamburger-inner {
  margin-top: 0;
}

.hamburger-box {
  background: var(--primary);
  display: flex !important;
  align-items: center;
  justify-content: center;
  border-radius: 10rem;
  padding: 1rem;
  height: 2.375rem;
  width: 2.375rem;
}

.hamburger-inner, .hamburger-inner:after, .hamburger-inner:before {
  height: 2px;
  width: 1rem;
  background: white;
}

.hamburger-inner:before {
  top: -5px;
}

.hamburger-inner:after {
  bottom: -5px;
}

/* Overwrite button */
.header-02 .btn {
  padding: .8rem 2.25em;
}

/* Custom Box Shadow in Popup Items */
.popup-custom-box-shadow {
  box-shadow: 0 0 26px #9f5cf780;
}

/* Custom Popup item background color  */
.popup-item-background-color-gray {
  background-color: #4b507280;
}

/* Open Popup */
.header_open-popup,
.header_close-popup {
  padding: .7rem;
}

.header_open-popup span,
.header_close-popup span,
.header_open-popup div,
.header_close-popup div{
  display: flex;
  width: 1rem;
  height: 1rem;
  fill: white;
  justify-content: center;
}

.header_open-popup,
.header_close-popup{
  transition: transform 0.5s ease; 
}

.header_open-popup.rotated,
.header_close_popup.rotated{
  transform: rotate(360deg);
}

/* Close Popup Container */
.header_close-popup_container {
  left: 17px;
  top: 101px;
}

@media (max-width: 1046px) {
  .header_close-popup_container {
    top: 127px;
  }
}

@media (max-width: 767px) {
  .header_close-popup_container {
    left: unset;    
    right: 17px;
  }
}

@media (max-width: 540px) {
  .header_close-popup_container {
    top: 153px;
  }
}

@media (max-width: 438px) {
  .header_close-popup_container {
    top: 178px;
  }
}

@media (max-width: 388px) {
  .header_close-popup_container {
    top: 205px;
  }
}

/* Floating Menu */
.header-02 .main-wrapper-middle .main-wrapper_main-ul {
  padding: 0 3rem;
  background: white;
  box-shadow: 0px 8px 8px 0px #0e0e1e1a;
  transition: .3s all ease-in-out;
  flex-wrap: nowrap;
}


/* Popup Button */
.popup-button_text,
.popup-button,
.popup-button_icon path,
.popup-button_login,
.popup-button_sign-up,
.popup-button_home,
.popup-button_home h2{
  transition: .3s all ease-in-out;
}

  .popup-button:hover{
    border-color: white;
  }

  .popup-button:hover .popup-button_icon path {
    stroke: white;
  }

  .popup-button:hover .popup-button_text {
    margin-left: .5rem;
  }

  .popup-button_login:hover {
    background-color: var(--primary);
  }

  .popup-button_sign-up:hover {
    background-color: var(--secondary);
  }

  .popup-button_home:hover h2 {
    margin-left: .5rem;
  }

  .popup-button_home:hover .popup-image_div {
    display: flex;
  }

  .popup-button_home:hover .popup-image_image {
    display: none;
  }

/* Custom Popup Links Padding */
.popup-button,
.popup-button_sign-up{
  padding: 1.875rem;
}

/* Popup Button Home - List */
.popup-button li {
  list-style-type: none;
}

/* Popup Menu */
.popup-menu_menu h3,
.popup-menu_dot{
  transition: .3s all ease-in-out;
}

.popup-menu_menu:hover h3 {
  margin-left: .5rem;
  opacity: 1;
}

/* Popup Sub Menu */
.popup-menu_sub-menu:hover {
  opacity: 1;
}

/* Popup Left Dot */
.popup-menu_menu:hover .popup-menu_dot {
  border-color: white;
}

/* Popup Timeline */
.popup-menu_timeline {
  left: 10px;
  height: 50%;
  background-color: #49506b;
  width: 1px;
/*   display: none; */
  top: 2.1rem;
}

.popup-menu_timeline-has-child {
  height: 270%;
  display: none;
}

@media (max-width: 991px) {
  .popup-menu_timeline {
    display: none;
  }
}

/* Instead of timeline, add border on the ul */
.header-02-timeline-border {
  border-left: 1px solid #49506b;
  margin-left: 10px;
  padding-left: calc(3rem - 4px);
}

.header-02-timeline-border:last-child {
  border: none;
}

@media (max-width: 991px) {
  .header-02-timeline-border {
    border: none;
  }
}

/* Main Header Popup Container */
.popup-menu_custom-margin {
  margin: 0 auto;
  max-width: 1794px;
  width: 90%;
}

@media (max-width: 767px) {
  .popup-menu_custom-margin {
    margin: 20rem auto;
    max-width: 350px;
    width: 100%;
  }
}

.header-popup {
  overflow-y: auto; 
  overflow-x: hidden; 
  max-height: 100vh; 
}

/* Overwrite old hover of main menu */
.header-02 .header-menu>.main-wrapper-middle>ul>li>a,
.header-02 .header-menu>.main-wrapper-middle>ul>li:hover>a {
  border-bottom: unset ;
  color: unset ;
  opacity: unset ;
}


/* Main Menu - Menu */
.header-02 .main-menu_menu {
  transition: .3s all ease-in-out;
  border-radius: 20rem;
  text-wrap: nowrap;
}

.header .header-menu>.hs-menu-wrapper>ul>li.active>a ,
.header-02 .main-menu_menu {
  border-bottom: unset;
}

.header-02 .main-menu_menu:hover {
  background-color:#f2f4f8;
}

/* Mega Menu */
.header-02 .mega-menu {
  top: 110% ;  
}

@media (max-width: 991px) {
  .header-02 .mega-menu {
/*     top: 150%;   */
    top: 110%;
  }
}

.header-02 .mega-menu .absolute {
  border-radius: 20px;
}

.header-02 .mega-menu .heading-white {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  padding: .5rem !important;
}


.header-02 .mega-menu .heading-white .mb-8 {
  margin-bottom: 2px;
}

.header-02 .mega-menu .container {
  padding: 0 2rem;
}

.mega-menu_content {
  padding: .5rem;
  border-radius: .5rem;
}

.header-02 .mega-menu .heading-white .mega-menu_content:nth-child(even) {
  margin-left: .5rem;
}

/* .header-02 .mega-menu .heading-white .mega-menu_content:hover { */
.header-02 .mega-menu .heading-white div:hover {
  background-color: #ecdeff;
  border-radius: 8px;
}

/* Overwrite the header-menu */
.header-menu-02 .mobile-trigger {
  display: none !important;
}

.header-menu-02 .main-wrapper-middle {
  height: unset !important;
}

/* Login Button */
.login-bttn {
  background-color: #f2f4f8 !important;
  transition: all 0.15s ease-in-out;
  overflow: hidden;
  font-size: 14px !important;
  z-index: 1;
}

/* Login Button Animation */
.login-bttn_animation::before {
  content: '';
  position: absolute;
  top: 0;
  left: -30%;
  width: 100%;
  height: 100%;
/*   background-color: var(--secondary); */
  transition: left 0.15s ease-in-out;
  z-index: -2; 
  border-radius: inherit;
}

.login-bttn_animation::after {
  content: '';
  position: absolute;
  top: 0;
  left: -60%;
  width: 100%;
  height: 100%;
/*   background-color: var(--primary); */
/*   transition: left 0.15s ease-in-out 0.15s;  */
  transition: left 0.3s ease-in-out; ;
  z-index: -1; 
  border-radius: inherit;
}

/* Hover Effect */
.login-bttn_animation:hover::before {
  left: 0; 
  background-color: var(--secondary);
}

.login-bttn_animation:hover::after {
  left: 0;
  background-color: var(--primary);
}

.login-bttn_animation:hover {
  color: #fff !important;
  transform: translate(0, 0);
}

.login-bttn_animation.reset::after {
  left: 100%;
  background-color: var(--primary);
}

/* Button 01 Animation */
.button-01_animation {
  transition: all 0.3s linear 0s;
  overflow: hidden;
  display: flex;
  align-items: center;
  gap: .5rem;
  z-index: 1;
  font-size: .875em !important;
  width: 160px;
  justify-content: center;
  position: relative;
}

.button-01_animation::before {
  content: '';
  position: absolute;
  top: 0;
  left: -30%;
  width: 100%;
  height: 100%;
  transition: left 0.3s ease-in-out;
  z-index: -2; 
  border-radius: inherit;
}

.button-01_animation::after {
  content: '';
  position: absolute;
  top: 0;
  left: -60%;
  width: 100%;
  height: 100%;
  transition: left 0.3s ease-in-out; 
  z-index: -1; 
  border-radius: inherit;
}

/* Hover Effect */
.button-01_animation:hover::before {
  left: 0; 
  background-color: var(--secondary);
}

.button-01_animation:hover::after {
  left: 0;
   background-color: var(--dark);
}

.button-01_animation:hover {
  color: #fff !important;
  transform: translate(0, 0);
}

.button-01_animation.reset::after {
  left: 100%;
  background-color: var(--dark);
}

.button-01_icon span,
.button-01_icon div{
  width: 1rem;
  height: 1rem;
  display: flex;
  fill: white;
}

.button-01_icon {
  transition: .3s all linear 0s;
  opacity: 0;
  width: 0;
  margin-left: 0;
}

.button-01_animation:hover .button-01_icon {
  margin-left: .1rem;
  opacity: 1;
  width: unset;
}
/* /Button 01 - Try it free */

.main-menu_item:hover .mega-menu {
  visibility: hidden;
}

.main-menu_item:active .mega-menu {
  visibility: visible;
}

/* Popup menu mobile grid */
.popup-menu_mobile-grid {
  grid-template-columns: repeat(2, minmax(0, 1fr));
}

@media (max-width: 479px) {
  .popup-menu_mobile-grid {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}

/* Top Header */
.header-02_top-header {
  z-index: 31 !important;
}

.header-popup {
  z-index: 40 !important;
}

/* Sticky Header */
/* #sticky-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
} */

/* Popup Menus */
.features-text {
  color: #49506b;
}

.features-text:hover {
  color: #ecdeff;
}

#Layer_2 {
  fill: white;
  filter: drop-shadow(-6px 6px 4px #0e0e1e1a);
  transition: .3s all ease-in-out;
}

#Layer_3 {
  fill: white;
  filter: drop-shadow(6px 6px 4px #0e0e1e1a);
  transition: .3s all ease-in-out;
}

/* Custom Border Radius, Header Popup */
.header-custom_border-radius {
  border-radius: 1.25rem;
}

/* Top Header */
.top-header-02:hover {
  opacity: 1;
}
