@import "tailwindcss";
:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  
  font-weight: 400;
  margin: 0;
  padding: 0;
  background: white;   
  --primary-color: #6366F1;
  --accent-color: #3f83f8;
  --text-color: #333333;
  --link-color: #2563eb;
  --background-color: #ffffff;
  --light-gray: #f0f0f0;
  --gray: #808080;
  --dark-gray: #555;
  
  

  

  
}
@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-up {
  opacity: 0; /* Starts hidden */
  animation: fadeUp 0.8s ease-out forwards;
  will-change: transform , opacity;
}

